* {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #546e7a;
}

.header-content {
  position: absolute;
  z-index: 200;
  top: 6.5%;
  height: 70vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.header2 {
  position: relative;
  left: 25%;
  right: 25%;
  width: 50vw;
  font-size: 2rem;
  text-align: center;
}
